<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c285f4">  <td>19/08/21 14:00:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StepIn.YoutubeAutomation()[pri:0, instance:com.si.selenium.StepIn@7085bdee]">YoutubeAutomation</td> 
  <td>main@1465085305</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>19/08/21 14:00:13</td>   <td>-3795</td> <td>&nbsp;</td><td title="&gt;&gt;StepIn.initialize()[pri:0, instance:com.si.selenium.StepIn@7085bdee]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1465085305</td>   <td></td> </tr>
<tr bgcolor="b792a0">  <td>19/08/21 14:00:13</td>   <td>-3813</td> <td>&nbsp;</td><td title="&gt;&gt;Filereader.loadProperties()[pri:0, instance:com.si.selenium.StepIn@7085bdee]">&gt;&gt;loadProperties</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1465085305</td>   <td></td> </tr>
</table>
