<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94c7ba">  <td>19/08/21 15:21:24</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Emulatorstuffs.BeforeTest()[pri:0, instance:webtest.Emulatorstuffs@3a5ed7a6]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1071097621</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/08/21 15:22:26</td>   <td>61364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Emulatorstuffs.AutoTest()[pri:0, instance:webtest.Emulatorstuffs@3a5ed7a6]">AutoTest</td> 
  <td>main@1071097621</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/08/21 15:23:17</td>   <td>112330</td> <td>&nbsp;</td><td title="&lt;&lt;Emulatorstuffs.cleanup()[pri:0, instance:webtest.Emulatorstuffs@3a5ed7a6]">&lt;&lt;cleanup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1071097621</td>   <td></td> </tr>
</table>
