<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceaf6a">  <td>19/08/20 12:42:44</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Filereader.loadProperties()[pri:0, instance:com.si.rest.Functional.Resttest@59494225]">&gt;&gt;loadProperties</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>19/08/20 12:42:44</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Resttest.testcase1()[pri:0, instance:com.si.rest.Functional.Resttest@59494225]">testcase1</td> 
  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>19/08/20 12:42:49</td>   <td>4968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Resttest_query.testcase1()[pri:0, instance:com.si.rest.Functional.Resttest_query@20322d26]">testcase1</td> 
  <td>main@1709366259</td>   <td></td> </tr>
</table>
