<h2>Reporter output</h2><table><tr><td>Response is      :{
    "meta": {
        "success": false,
        "message": "Person group 'liadsad_100' already exists.",
        "code": "409"
    }
}</td></tr>
<tr><td>Response is      :{
    "meta": {
        "success": true,
        "message": "Gallery Data Found",
        "code": "200"
    },
    "data": {
        "name": "flight_100",
        "userData": "NA",
        "recognitionModel": "recognition_02"
    }
}</td></tr>
</table>