<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f777e8">  <td>19/08/19 15:50:43</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseCls.SetUp()[pri:0, instance:Appium.appium.WebTests@210366b4]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/08/19 15:51:57</td>   <td>74424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTests.TestOne()[pri:0, instance:Appium.appium.WebTests@210366b4]">TestOne</td> 
  <td>main@1730173572</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/08/19 15:51:57</td>   <td>74449</td> <td>&nbsp;</td><td title="&lt;&lt;BaseCls.TearDown()[pri:0, instance:Appium.appium.WebTests@210366b4]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1730173572</td>   <td></td> </tr>
</table>
