<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>19/08/19 15:22:52</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CalcTest.OpenCalc()[pri:0, instance:Appium.appium.CalcTest@370736d9]">&gt;&gt;OpenCalc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
</table>
