<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92ec79">  <td>19/07/23 10:16:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BVT_SI_6199_CRID_Portrait_EBTS10.CRIDPortraitEBTS10()[pri:0, instance:com.si.rest.BVT_SI_6199_CRID_Portrait_EBTS10@52a86356]">CRIDPortraitEBTS10</td> 
  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="b792a0">  <td>19/07/23 10:15:15</td>   <td>-86800</td> <td>&nbsp;</td><td title="&gt;&gt;FTC001_VerifyAdminUserLogin.initialize()[pri:0, instance:com.si.selenium.FTC001_VerifyAdminUserLogin@3327bd23]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>19/07/23 10:15:15</td>   <td>-86805</td> <td>&nbsp;</td><td title="&gt;&gt;Filereader.loadProperties()[pri:0, instance:com.si.selenium.FTC001_VerifyAdminUserLogin@3327bd23]">&gt;&gt;loadProperties</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="b792a0">  <td>19/07/23 10:15:17</td>   <td>-84281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FTC001_VerifyAdminUserLogin.navigateToBackOfficeApplication()[pri:0, instance:com.si.selenium.FTC001_VerifyAdminUserLogin@3327bd23]">navigateToBackOfficeApplication</td> 
  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="659282">  <td>19/07/23 10:16:31</td>   <td>-10184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FTC002_VerifyInvalidUserLogin.navigateToBackOfficeApplication()[pri:0, instance:com.si.selenium.FTC002_VerifyInvalidUserLogin@66480dd7]">navigateToBackOfficeApplication</td> 
  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="b792a0">  <td>19/07/23 10:16:14</td>   <td>-27780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FTC001_VerifyAdminUserLogin.verifyUserLogin()[pri:0, instance:com.si.selenium.FTC001_VerifyAdminUserLogin@3327bd23]">verifyUserLogin</td> 
  <td>main@902919927</td>   <td></td> </tr>
</table>
